.versions-section {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0 10px;
}

.versions-section .version-list-and-create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.versions-section .version-list-and-create .version-selector {
  flex-grow: 1;
}
