.repository-workspace {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.repository-workspace .respository-workspace-sidebar {
  flex-grow: 1;
  flex-basis: 25%;
}

.respository-workspace-sidebar .repository-title {
  background-color: var(--primary-color);
  padding: 20px;
  color: white;
}

.repository-workspace .table-workspace {
  flex-grow: 3;
  flex-basis: 75%;
}
