.repository-workspace {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.repository-workspace .repository-content {
  flex-grow: 1;
  flex-basis: 25%;
}

.repository-workspace .table-workspace {
  flex-grow: 3;
  flex-basis: 75%;
}
