.repository-workspace {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.repository-workspace .respository-workspace-sidebar {
  flex-grow: 2;
  flex-basis: 20%;
}

.repository-workspace .table-workspace {
  flex-grow: 8;
  flex-basis: 80%;
}

.repository-header {
  background-color: var(--primary-color);
  padding: 20px;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repository-header .close-button {
  cursor: pointer;
}
