.repository-content {
  --list-item-padding-top-bottom: 10px;
  --list-item-padding-left-right: var(--padding);
  --list-item-color-hover: var(--color-secondary-hover);
  --list-item-secondary-action-color-hover: var(--color-secondary-hover-darker);
}

.repository-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 10px;

  padding: 0 10px;
}

.repository-content .repository-content-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  padding: 0 20px;
}
