.main-empty-repo-workspace {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  margin-top: 20px;
}

.main-empty-repo-workspace .required-action {
  background-color: var(--color-primary-shadow);
  padding: var(--padding);
}

.main-empty-repo-workspace .required-action button {
  margin-top: 10px;
}

.main-empty-repo-workspace .required-action p {
  margin-top: var(--padding);
}
