.repository-list {
  background-color: var(--primary-color-light);
  padding: 20px;
}

.repository-list li {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TODO: This is horrible CSS, but I will rehaul styles later*/
.repository-list li div {
  flex-grow: 1;
  cursor: pointer;
}

.repository-list li .delete-button {
  cursor: pointer;
}
