:root {
  --primary-color: #00684a;
  --primary-color-hover: #00593f;
  --primary-color-shadow: #e3fcf7;

  --secondary-color: #f9fbfa;
  --secondary-color-hover: #e8edeb;

  --padding: 20px;

  --h1-font-size: 18px;
  --h2-font-size: 16px;
}
