:root {
  /* TODO: convert colors to HSL */
  /* Colors */
  --color-primary: #00684a;
  --color-primary-hover: #00593f;
  --color-primary-shadow: #e3fcf7;

  --color-secondary: #f9fbfa;
  --color-secondary-hover: #e8edeb;

  --color-danger: #db3030;
  --color-danger-hover: #c82222;
  --color-danger-shadow: #ffeae5;

  --color-backdrop: rgba(0, 0, 0, 0.2);

  /* Spacing */
  --padding: 20px;

  /* Font */
  --font-size-h1: 18px;
  --font-size-h2: 16px;
  --font-size-text: 14px;

  /* Other */
  --border-radius: 5px;
}
