:root {
  /* Colors */
  --color-primary: hsl(163, 100%, 20%) /* #00684a */;
  --color-primary-hover: hsl(162, 100%, 17%) /* #00593f */;
  --color-primary-shadow: hsl(168, 81%, 94%) /* #e3fcf7 */;

  --color-secondary: hsl(150, 20%, 98%) /* #f9fbfa */;
  --color-secondary-hover: hsl(156, 12%, 92%) /* #e8edeb */;
  --color-secondary-hover-darker: hsl(156, 6%, 84%) /* #d4d9d7 */;

  --color-danger: hsl(0, 70%, 52%) /* #db3030 */;
  --color-danger-hover: hsl(0, 71%, 46%) /* #c82222 */;
  --color-danger-shadow: hsl(12, 100%, 95%) /* #ffeae5 */;

  --color-backdrop: rgba(0, 0, 0, 0.2);

  /* Spacing */
  --padding: 20px;

  /* Font */
  --font-size-h1: 18px;
  --font-size-h2: 16px;
  --font-size-text: 14px;

  /* Other */
  --border-radius: 5px;
}
