/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/*
  More CSS reset I added
*/
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:focus-visible {
  outline: none;
}

/*
  Style vertical scrollbar
*/
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--color-secondary-hover);
}
