/* Common style for all button variants */
.button {
  font-weight: 500;
  border-radius: var(--border-radius);
  padding: 5px 10px;
  cursor: pointer;
}

.button:disabled {
  cursor: default;
}

/* Styles for variant "contained" */
.button.contained {
  border: none;
  background-color: var(--primary-color);
  color: white;
}

.button.contained:not(:disabled):hover {
  background-color: var(--primary-color-hover);
  box-shadow: 0 0 0 4px var(--primary-color-shadow);
}

.button.contained:disabled {
  background-color: color-mix(in srgb, var(--primary-color), transparent 40%);
  color: color-mix(in srgb, white, transparent 40%);
}

/* Styles for variant "outlined" */
.button.outlined {
  border: 1px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
}

.button.outlined:not(:disabled):hover {
  background-color: white;
  box-shadow: 0 0 0 4px var(--primary-color-shadow);
}

.button.outlined:disabled {
  border-color: color-mix(in srgb, var(--primary-color), transparent 40%);
  background-color: color-mix(in srgb, white, transparent 40%);
  color: color-mix(in srgb, var(--primary-color), transparent 40%);
}

/* Styles for variant "danger" */
.button.danger {
  border: none;
  background-color: var(--color-danger);
  color: white;
}

.button.danger:not(:disabled):hover {
  background-color: var(--color-danger-hover);
  box-shadow: 0 0 0 4px var(--color-danger-shadow);
}

.button.danger:disabled {
  background-color: color-mix(in srgb, var(--color-danger), transparent 40%);
  color: color-mix(in srgb, white, transparent 40%);
}
