.editor-panel-group {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;

  --material-symbol-color-hover: var(--color-secondary-hover);

  overflow: hidden;
}

.editor-panel-group .tab-list {
  display: flex;
  flex-direction: row;

  background-color: var(--color-secondary);
}

.editor-panel-group .tab-label {
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--color-borders);
  border-right: 1px solid var(--color-borders);

  font-weight: 600;
  color: var(--color-text-lighter);

  cursor: pointer;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.editor-panel-group .tab-label.selected {
  background-color: white;
  color: var(--color-primary);
  border-bottom: none;
}

.editor-panel-group .tab-panels {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

.editor-panel-group .tab-panel {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
}

/* The react-headless-tabs library adds a "hidden" attribute to tab panels. However, it causes problems as it interfers with display:flex that I'm using
   In addition, the react-headless-tabs library should be using "display:none;" for hidden panels as recommended here : https://stackoverflow.com/a/6708403/471461
   This is also the approach taken by the headlessUI library
  */
.editor-panel-group .tab-panel[hidden] {
  display: none;
}
