.sidebar-section {
  display: flex;
  flex-direction: column;

  overflow: hidden;

  background-color: var(--color-secondary);
}

.sidebar-section .section-title {
  background-color: var(--color-secondary-hover);
  padding: 5px var(--padding);
  font-weight: 600;

  flex-grow: 0;
}

.sidebar-section .section-content {
  flex-grow: 1;
  overflow: auto;
}

.sidebar-section .section-content::-webkit-scrollbar {
  height: 8px;
  width: 8px;
  border: 1px solid #fff;
}

.sidebar-section .section-content::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--color-secondary);
}

.sidebar-section .section-content::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--color-secondary-hover);
}
