.repository-workspace-sidebar2 {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 20px;

  background-color: var(--color-secondary);
  padding: 10px 0;
}

.repository-workspace-sidebar2 .toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  padding: 0 10px;
}

.repository-workspace-sidebar2 .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 0 10px;
}

.repository-workspace-sidebar2 .versions-section {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 0 10px;
}

.repository-workspace-sidebar2 .version-list-and-create {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.repository-workspace-sidebar2 .version-list-and-create .version-selector {
  flex-grow: 1;
}

.repository-workspace-sidebar2 .content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  gap: 20px;

  padding: 0 10px;
}
