.confirmation-modal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.confirmation-modal .button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
