.title-bar {
  height: 64px;
  background-color: var(--color-primary);
  padding: 0px var(--padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-weight: 500;
  font-size: 18px;
}

.title-bar .action-icon {
  font-size: 1.25em;
  cursor: pointer;
  border-radius: 50%;
}

.title-bar .action-icon:hover {
  background-color: var(--color-primary-hover);
  box-shadow: 0 0 0 5px var(--color-primary-hover);
}
