.title-bar {
  min-height: 64px;
  background-color: var(--color-primary);
  padding: 0px var(--padding);

  display: flex;
  align-items: center;
  justify-content: space-between;

  color: white;
  font-weight: 500;
  font-size: 18px;

  --material-symbol-button-color-hover: var(--color-primary-hover);
}

.title-bar .material-symbol {
  font-size: 1em;
}
