.workspace-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px 10px;
}

.workspace-toolbar .workspace-toolbar-actions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
