.version-selector .input {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  background-color: white;
  border: 1px solid var(--color-borders);
  border-radius: var(--border-radius);
}

.version-selector .input:hover {
  border: 1px solid var(--color-primary);
  cursor: pointer;
}

.version-selector .input .value {
  flex-grow: 1;

  padding: 5px 10px;
}

.version-selector .input .menu-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 30px;
  background-color: var(--color-primary);
  color: white;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.version-selector .menu {
  background-color: white;
  border: 1px solid var(--color-borders);
}
