/* There's CSS in commin with WelcomeSidebar
TODO: Maybe, wait and see how RepositoryWorkspaceSidebar will evolve 
and check if we need to put those components in common
*/

.repository-workspace-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  background-color: var(--color-secondary);
}

.repository-workspace-sidebar .title-bar {
  flex-grow: 0;
}

.repository-workspace-sidebar #repository-content {
  height: 50%;
  flex-grow: 1;
}

.repository-workspace-sidebar #source-control {
  height: 50%;
  flex-grow: 1;
}
