.versions {
  margin: 0 auto;
  float: none;
  clear: both;
  overflow: hidden;
  font-family: "Menlo", "Lucida Console", monospace;
  color: black;
  transition: all 0.3s;
}

.versions li {
  display: block;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 20px;
  font-size: 13px;
  opacity: 0.8;
}

.versions li:last-child {
  border: none;
}

@media (max-width: 840px) {
  .versions {
    display: none;
  }
}
