.credentials-input-modal {
  width: 375px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.credentials-input-modal .credentials-input-fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.credentials-input-modal .error-message {
  color: var(--color-danger);
}

.credentials-input-modal .button-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
